<%= form_for (@item) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :main_colour %><br />
    <%= f.select(:main_colour, Item::MAIN_COLOUR)%>
  </p>
  <p>
    <%= f.label :main_category %><br />
    <%= f.select(:main_category, Item::MAIN_CATEGORY)%>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
