<%= form_for (@item) do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :main_colour %><br />
    <%= f.text_field :main_colour %>
  </p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>
